<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new room</title>
</head>
<body>
    <h5 id="fillerError" style="color:red;"></h5>
    <form id="inputForm" action="./create" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ request.GET.name }}"><br><br>
    
        <label for="temperature">Temperature:</label>
        <input type="number" id="temperature" name="temperature"><br><br>
    
        <label for="distance">Distance from kitchen:</label>
        <input type="number" id="distance" name="distance"><br><br>
    
        <button type="submit" id="submitButton">Submit</button>
    </form>
    
    <script>
        document.getElementById('submitButton').addEventListener('click', function(event) {
            var form = document.getElementById('inputForm');
            document.getElementById("fillerError").innerHTML = "";
            if (document.getElementById("name").value != "" && document.getElementById("temperature").value != "" && document.getElementById("distance").value != "") {
                var formData = new FormData(form);
        
                fetch(form.action, {
                    method: 'POST',
                    body: formData
                });
            } else {
                document.getElementById("fillerError").innerHTML = "Please fill out all fields.";
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
    
</body>
</html>
