<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <form id="inputForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="temperature">Temperature:</label>
        <input type="number" id="temperature" name="temperature"><br><br>

        <label for="distance">Distance:</label>
        <input type="number" id="distance" name="distance"><br><br>

        <button type="button" id="submitButton">Submit</button>
    </form>
    <script>
        const form = document.getElementById("inputForm");
        const submitButton = document.getElementById('submitButton');
        submitButton.addEventListener('click', () => {
            var name = document.getElementById("name").value;
            var temperature = document.getElementById("temperature").value;
            var distance = document.getElementById("distance").value;
            if (name !== "" && temperature !== "" && distance !== "") {
                window.location.href = `/temperature/config/create?name=${encodeURIComponent(name)}&temp=${encodeURIComponent(temperature)}&dist=${encodeURIComponent(distance)}`
            } else {
                alert("Please fill out all fields!");
            };
        });
    </script>
</body>
</html>
