<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <script>
        function sendServerStatusCheck() {
            var statusCode = fetch(window.location.href, {
                method: "POST"
            }).statusCode;
            document.getElementById("ServerStatusCode").textContent = "Server response: " + toString(statusCode);
        };
    </script>
    <h1>Links</h1>
    <li><a href="/temperature">Temperature Data</a></li>
    <br>
    <button onclick="sendServerStatusCheck()">Send ping to the server!</button>
    <h4 id="ServerStatusCode">Server response: Not Checked</h4>
    <form method="POST" enctype="multipart/form-data">
 
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        {{ form.as_p }}
         
        <input type="submit" value="Submit">
    </form>
</body>
</html>